<launch>
  <include file="$(find panda_moveit_config)/launch/demo.launch" />
  <!--
  In this tutorial we wait much longer for the robot transforms than we usually would,
  because the user's machine might be quite slow.
  -->
  <param name="robot_description_planning/shape_transform_cache_lookup_wait_time" value="0.5" />

  <!-- If needed, broadcast static tf for robot root -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="to_panda" args="0 0 0 0 0 0  world panda_link0" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="to_camera_gz" args="2.0 0 1.25 0 0.53 3.14 world camera_base" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="to_camera_rot" args="0 0. 0  -1.57 0.0 0.515 camera_base camera_link" />

  <arg name="use_sim_time" default="true"/>
  <arg name="verbose" default="true"/>
  <arg name="world_name" default="simple_camera_unconnected.world"/>

  <!-- set use_sim_time flag -->
  <group if="$(arg use_sim_time)">
    <param name="/use_sim_time" value="true" />
  </group>

  <arg unless="$(arg verbose)" name="command_arg3" value=""/>
  <arg     if="$(arg verbose)" name="command_arg3" value="--verbose"/>

  <node name="gazebo" pkg="gazebo_ros" type="gzserver" respawn="false" output="screen" args="$(arg command_arg3) $(arg world_name)"/>
  <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>

</launch>
